.menu {
  position: fixed;
  width: 100%;
  max-width: 480px;
  display: flex;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  background-color: white;
}
.icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 20px;
  margin-bottom: 1rem;
}
.icon svg {
  opacity: 0.3;
  pointer-events: none;
}
.icon svg[fill="currentColor"] {
  opacity: 1;
}
